.content {
  position: relative;
  height: 100%;
}
.addOrder {
  width: 0.4rem;
  height: 0.4rem;
  position: fixed;
  right: 10px;
  bottom: 60px;
}
.body {
  width: 100%;
  margin-bottom: 60px;
  position: absolute;
  top: 0.8rem;
  left: 0;
}
