.login {
  width: 90%;
  margin: 20% 5% 0 5%;
  padding: 10% 2%;
  border-radius: 10px;
  background-color: #eee;
}
.item {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  vertical-align: middle;
}
.login-username {
  background: url("../img/login_user.png") no-repeat 5% 50%;
  background-size: 0.3rem;
}
.login-pwd {
  background: url("../../assets/img/login_lock.png") no-repeat 6% 50%;
  background-size: 0.2rem;
}
.item>input{
  width: 75%;
  height: 0.35rem;
  margin-left: 20%;
  padding-left: 3%;
  outline: none;
  border: solid 1px #ccc;
  border-radius: 8px;
}
.login-btn {
   width: 80%;
   height: 0.35rem;
   margin: 10%;
   border: none;
   border-radius: 5px;
   outline: none;
   background-color: #2f9fff;
 }
.login-btn-disable {
  width: 80%;
  height: 0.35rem;
  margin: 10%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #eee;
}
