.content {
  position: relative;
  height: 100%;
  overflow: auto;
}
.addOrder {
  width: 0.4rem;
  height: 0.4rem;
  position: fixed;
  right: 10px;
  bottom: 60px;
}
.body {
  width: 100%;
  margin-bottom: 60px;
  position: absolute;
  top: 0.8rem;
  left: 0;
  vertical-align: middle;
}
.order-edit-body {
  width: 100%;
  position: absolute;
  top: 0.4rem;
  left: 0;
}
.order-item {
  background-color: #fff;
  width: 100%;
  height: 0.35rem;
  line-height: 0.35rem;
  padding: 0 1%;
  border-bottom: 1px solid #e8e8e8;
}
.order-item>input {
  outline: none;
  border: solid 1px #ccc;
  border-radius: 8px;
}
.order-item-title {
  display: inline-block;
  color: #666;
  width: 30%;
  padding-left: 5%;
}
.order-item-content {
  width: 66%;
  height: 0.28rem;
  padding-left: 0.1rem;
  color: #1e1e1e;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}
.order-datetime {
  display: inline-block;
  width: 1rem;
  color: #1e1e1e;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}
.orderListRefresh, .orderListMore {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
