.content {
  position: relative;
  height: 100%;
  overflow: auto;
}
.addOrder {
  width: 0.4rem;
  height: 0.4rem;
  position: fixed;
  right: 10px;
  bottom: 60px;
}
.body {
  width: 100%;
  margin-bottom: 60px;
  position: absolute;
  top: 0.8rem;
  left: 0;
  vertical-align: middle;
}
.order-edit-body {
  width: 100%;
  position: absolute;
  top: 0.4rem;
  left: 0;
}
.order-item {
  background-color: #fff;
  width: 100%;
  height: 0.35rem;
  line-height: 0.35rem;
  border-bottom: 1px solid #e8e8e8;
}
.order-item>input {
  outline: none;
  border: solid 1px #ccc;
  border-radius: 8px;
}
.order-item-title {
  display: inline-block;
  color: #666;
  width: 30%;
  padding-left: 5%;
}
.order-item-required {
  color: red;
  font-size: 0.15rem;
  vertical-align: middle;
}
.order-edit-item-title {
  display: inline-block;
  color: #666;
  width: 30%;
  padding-left: 5%;
}
.order-item-content {
  display: inline-block;
  overflow: auto;
  width: 66%;
  height: 0.28rem;
  padding-left: 0.1rem;
  color: #1e1e1e;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}
.product {
  height: 1.3rem;
}
.product_input {
  width: 50%;
}
.product_btn {
  width: 15%;
  padding: 0.03rem 2%;
  margin-left: 0.05rem;
  color: #fff;
  background-color: #09BB07;
  border-radius: 5px;
}
.order-product-detail {
  overflow: auto;
  width: 96%;
  height: 0.8rem;
  margin: 0.05rem 2%;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.order-product-detail-item {
  display: flex;
  flex-direction: row;
  height: 0.2rem;
  margin: 0.05rem;
  line-height: 0.2rem;
  vertical-align: middle;
}
.order-product-detail-item-delete {
  width: 0.4rem;
  height: 0.2rem;
  background: url("../img/delete.png") 50% no-repeat;
  background-size: 0.15rem;
}
.order-product-detail-item-text {
  width: 60%;
  height: 0.2rem;
}
.order-datetime {
  display: inline-block;
  width: 1rem;
  color: #1e1e1e;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}
.orderListRefresh, .orderListMore {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.order-detail-body {
  width: 100%;
  margin-bottom: 50px;
  position: absolute;
  top: 0.4rem;
  left: 0;
  vertical-align: middle;
}
.order-detail-item-title {
  display: inline-block;
  color: #333;
  width: 30%;
  padding-left: 5%;
}
.order-detail-item-content {
  overflow: auto;
  width: 66%;
  height: 0.28rem;
  padding-left: 0.1rem;
  color: #666;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}
.order-detail-product {
  display: flex;
  flex-direction: row;
  height: 1rem;
  line-height: 1rem;
  padding: 0 1%;
  border-bottom: solid 1px #e8e8e8;
}
.order-detail-product-info {
  overflow: auto;
  width: 68%;
  height: 0.8rem;
  margin: 0.1rem 0;
  padding-left: 0.1rem;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.order-detail-product-item {
  line-height: 0.25rem;
}
.order-detail-product-item>span {
  color: #666;
}
.order-detail-address {
  display: flex;
  flex-direction: row;
  height: 0.35rem;
  line-height: 0.35rem;
  padding: 0 1%;
  border-bottom: solid 1px #e8e8e8;
}
.order-detail-address-info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 68%;
  height: 0.3rem;
  padding-left: 0.1rem;
  /*text-overflow:ellipsis;
  white-space:nowrap;
  word-break:keep-all;*/
}
.order-detail-address-item {
  line-height: 0.3rem;
  color: #666;
}
.order-detail-product-text {
  display: inline-block;
  width: 75%;
}
.order-edit-attachment {
  border-bottom: solid 1px #e8e8e8;
}
.order-edit-attachment-top {
  display: flex;
  flex-direction: row;
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0 1%;
}
.order-edit-attachment-add {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 68%;
  height: 0.5rem;
  padding-left: 0.1rem;
  background: url("../../assets/img/attachment_plus.png") no-repeat 0 50%;
  background-size: 0.35rem;
}
.order-edit-attachment-input {
  opacity: 0;
  filter: alpha(opacity=0);
}
.order-edit-attachment-info {
  height: 0.6rem;
  margin: 0.1rem 5%;
}
.order-edit-attachment-item {
  display: inline-block;
  width: 33%;
  padding: 0 1%;
  text-align: center;
}
.order-edit-attachment-preview {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
}
